<!--Footer-->
<footer class="page-footer blue center-on-small-only" id="footer">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title"></h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-sm-6">
                <div class="row">
                <h5 class="title">Follow me! I apologize for my tweets in advance...</h5>
                <ul>
                    <li class="footerLinks"><a href="https://www.linkedin.com/in/dansamueljacob/"><i class="fa fa-linkedin"></i></a>
                    </li>
                     <li class="footerLinks"><a href="https://www.linkedin.com/in/dansamueljacob/"><i class="fa fa-twitter"></i></a>
                    </li>
                     <li class="footerLinks"><a href="https://www.linkedin.com/in/dansamueljacob/"><i class="fa fa-medium"></i></a>
                    </li>
                     <li class="footerLinks"><a href="https://www.linkedin.com/in/dansamueljacob/"><i class="fa fa-dribble"></i></a>
                    </li>     
                </ul>
                </div>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
         Dan Jacob
        </div>
    </div>
</footer>
<!--/.Footer-->