<div style="text-align:center">
    <h2 id="title">DAN JACOB</h2>
    <p style="text-align: center;">Junior Web Developer &bull; Designer </p>
    <hr>
</div>

<div class="container">
<h1>Hello World</h1>
    <p>I'm Dan Jacob, I'm an aspiring Web Developer and Designer! My journey to programming has been anything but linear, from pursuing a degree in Business to dropping it all to join a programming boot camp in Seattle, called Epicodus! I was inspired to make the change to development afer taking a Intro to C++ Programming class in college - as someone who has followed the tech industry closely, I decided I wanted to get my hands dirty. Over the course of a year, I've worked in pairs, groups, and individually to build web applications in agile environments.</p>
    <hr>
</div>
    
    